<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
</head>
<body>
    <h1>Checkout Form</h1>
    <hr>
    <form action="/process" method="post">
        <div>
            <label for="">Full name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Credit Card Number</label>
            <input type="number" name="card">
        </div>
        <div>
            <label for="">Amount</label>
            <input type="number" name="amount">
        </div>
        <button>Pay</button>
    </form>
    
</body>
</html>