<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Document</title>
    <!-- linking a css style sheet -->
</head>
<body>
    <h1>This is the Home Page 🏠</h1>
    <hr>
    <p>Hello Mr {{username}} you are {{age}} years old </p>
    <img src="{{ url_for('static', filename='sedum-s.jpg') }}">

</body>
</html>