h1{
    color: #FFFFFF;
    background-color: #000000;
}
span{
    color: #00FEFE;
}
h2{
    background-color: #663399;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
}
h3{
    background-color: #9fc5F8;
    text-align: end;
    text-decoration:underline;
}