<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW CAR</title>
</head>
<body>
    <h1>Create a Car</h1>
    <hr>
    <form action="/cars/new" method="post">

        <div>
            <label for="">Make</label>
            <input type="text" name ="make">
        </div>
        <div>
            <label for="">Model</label>
            <input type="text" name ="model">
        </div>
        <div>
            <label for="">Color</label>
            <input type="color" name ="color">
        </div>

        <button>Submit</button>

    </form>
</body>
</html>